<a href="https://colab.research.google.com/github/YJU-KimJeongSu/YJU-KimJeongSu/blob/main/DeepLearning/Boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import tensorflow as tf

In [3]:
Boston = pd.read_csv('https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv')
Boston

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [4]:
input = Boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat']]
output = Boston[['medv']]
print(input.shape, output.shape)

(506, 13) (506, 1)

In [5]:
X = tf.keras.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [12]:
model.fit(input, output, epochs=20)

Epoch 1/20
16/16 [==============================] - 0s 3ms/step - loss: 23.0049
Epoch 2/20
16/16 [==============================] - 0s 6ms/step - loss: 23.3821
Epoch 3/20
16/16 [==============================] - 0s 5ms/step - loss: 23.3097
Epoch 4/20
16/16 [==============================] - 0s 4ms/step - loss: 23.3461
Epoch 5/20
16/16 [==============================] - 0s 5ms/step - loss: 23.5201
Epoch 6/20
16/16 [==============================] - 0s 5ms/step - loss: 23.1410
Epoch 7/20
16/16 [==============================] - 0s 3ms/step - loss: 23.2309
Epoch 8/20
16/16 [==============================] - 0s 3ms/step - loss: 23.0862
Epoch 9/20
16/16 [==============================] - 0s 4ms/step - loss: 23.8814
Epoch 10/20
16/16 [==============================] - 0s 5ms/step - loss: 23.4531
Epoch 11/20
16/16 [==============================] - 0s 4ms/step - loss: 23.1461
Epoch 12/20
16/16 [==============================] - 0s 3ms/step - loss: 22.8994
Epoch 13/20
16/16 [==============================] - 0s 2ms/step - loss: 23.9624
Epoch 14/20
16/16 [==============================] - 0s 3ms/step - loss: 23.2916
Epoch 15/20
16/16 [==============================] - 0s 2ms/step - loss: 22.8999
Epoch 16/20
16/16 [==============================] - 0s 5ms/step - loss: 23.8575
Epoch 17/20
16/16 [==============================] - 0s 3ms/step - loss: 23.0859
Epoch 18/20
16/16 [==============================] - 0s 4ms/step - loss: 23.6717
Epoch 19/20
16/16 [==============================] - 0s 3ms/step - loss: 23.9785
Epoch 20/20
16/16 [==============================] - 0s 3ms/step - loss: 23.3320

In [13]:
print(model.predict(input[0:5]))

[[30.598825]
 [25.516989]
 [31.807642]
 [30.235157]
 [29.824837]]

In [14]:
output[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2