<a href="https://colab.research.google.com/github/YJU-KimJeongSu/YJU-KimJeongSu/blob/main/Colab/Lemonade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
stLink1 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
pd.read_csv(stLink1)

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48
5  25   50

In [4]:
stLink2 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
pd.read_csv(stLink2)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [5]:
stLemonade = pd.read_csv(stLink1)
stBoston = pd.read_csv(stLink2)

In [ ]:
print(stLemonade.shape)
print(stBoston.shape)

(6, 2)
(506, 14)

In [ ]:
print(stLemonade.columns)
print(stBoston.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [6]:
temp = stLemonade['온도']
sale = stLemonade['판매량']

In [7]:
import tensorflow as tf
import keras

In [8]:
X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [20]:
model.fit(temp, sale, epochs = 50)

Epoch 1/50
1/1 [==============================] - 0s 18ms/step - loss: 3.0996e-04
Epoch 2/50
1/1 [==============================] - 0s 9ms/step - loss: 3.0985e-04
Epoch 3/50
1/1 [==============================] - 0s 8ms/step - loss: 3.0978e-04
Epoch 4/50
1/1 [==============================] - 0s 16ms/step - loss: 3.0966e-04
Epoch 5/50
1/1 [==============================] - 0s 7ms/step - loss: 3.0954e-04
Epoch 6/50
1/1 [==============================] - 0s 9ms/step - loss: 3.0954e-04
Epoch 7/50
1/1 [==============================] - 0s 12ms/step - loss: 3.0947e-04
Epoch 8/50
1/1 [==============================] - 0s 7ms/step - loss: 3.0935e-04
Epoch 9/50
1/1 [==============================] - 0s 6ms/step - loss: 3.0921e-04
Epoch 10/50
1/1 [==============================] - 0s 7ms/step - loss: 3.0898e-04
Epoch 11/50
1/1 [==============================] - 0s 6ms/step - loss: 3.0869e-04
Epoch 12/50
1/1 [==============================] - 0s 12ms/step - loss: 3.0840e-04
Epoch 13/50
1/1 [==============================] - 0s 9ms/step - loss: 3.0817e-04
Epoch 14/50
1/1 [==============================] - 0s 10ms/step - loss: 3.0794e-04
Epoch 15/50
1/1 [==============================] - 0s 8ms/step - loss: 3.0780e-04
Epoch 16/50
1/1 [==============================] - 0s 8ms/step - loss: 3.0772e-04
Epoch 17/50
1/1 [==============================] - 0s 9ms/step - loss: 3.0770e-04
Epoch 18/50
1/1 [==============================] - 0s 11ms/step - loss: 3.0773e-04
Epoch 19/50
1/1 [==============================] - 0s 12ms/step - loss: 3.0771e-04
Epoch 20/50
1/1 [==============================] - 0s 11ms/step - loss: 3.0756e-04
Epoch 21/50
1/1 [==============================] - 0s 11ms/step - loss: 3.0734e-04
Epoch 22/50
1/1 [==============================] - 0s 11ms/step - loss: 3.0707e-04
Epoch 23/50
1/1 [==============================] - 0s 12ms/step - loss: 3.0683e-04
Epoch 24/50
1/1 [==============================] - 0s 12ms/step - loss: 3.0666e-04
Epoch 25/50
1/1 [==============================] - 0s 12ms/step - loss: 3.0640e-04
Epoch 26/50
1/1 [==============================] - 0s 16ms/step - loss: 3.0623e-04
Epoch 27/50
1/1 [==============================] - 0s 12ms/step - loss: 3.0608e-04
Epoch 28/50
1/1 [==============================] - 0s 12ms/step - loss: 3.0597e-04
Epoch 29/50
1/1 [==============================] - 0s 11ms/step - loss: 3.0590e-04
Epoch 30/50
1/1 [==============================] - 0s 11ms/step - loss: 3.0592e-04
Epoch 31/50
1/1 [==============================] - 0s 11ms/step - loss: 3.0578e-04
Epoch 32/50
1/1 [==============================] - 0s 11ms/step - loss: 3.0561e-04
Epoch 33/50
1/1 [==============================] - 0s 11ms/step - loss: 3.0550e-04
Epoch 34/50
1/1 [==============================] - 0s 13ms/step - loss: 3.0540e-04
Epoch 35/50
1/1 [==============================] - 0s 12ms/step - loss: 3.0520e-04
Epoch 36/50
1/1 [==============================] - 0s 10ms/step - loss: 3.0495e-04
Epoch 37/50
1/1 [==============================] - 0s 11ms/step - loss: 3.0467e-04
Epoch 38/50
1/1 [==============================] - 0s 9ms/step - loss: 3.0445e-04
Epoch 39/50
1/1 [==============================] - 0s 11ms/step - loss: 3.0432e-04
Epoch 40/50
1/1 [==============================] - 0s 18ms/step - loss: 3.0427e-04
Epoch 41/50
1/1 [==============================] - 0s 8ms/step - loss: 3.0427e-04
Epoch 42/50
1/1 [==============================] - 0s 10ms/step - loss: 3.0413e-04
Epoch 43/50
1/1 [==============================] - 0s 17ms/step - loss: 3.0400e-04
Epoch 44/50
1/1 [==============================] - 0s 10ms/step - loss: 3.0389e-04
Epoch 45/50
1/1 [==============================] - 0s 9ms/step - loss: 3.0371e-04
Epoch 46/50
1/1 [==============================] - 0s 7ms/step - loss: 3.0354e-04
Epoch 47/50
1/1 [==============================] - 0s 7ms/step - loss: 3.0338e-04
Epoch 48/50
1/1 [==============================] - 0s 7ms/step - loss: 3.0323e-04
Epoch 49/50
1/1 [==============================] - 0s 6ms/step - loss: 3.0309e-04
Epoch 50/50
1/1 [==============================] - 0s 10ms/step - loss: 3.0282e-04

In [21]:
print("예상값 : ", model.predict([15]))

예상값 :  [[30.049026]]